<form
  class="meetup-create"
  (ngSubmit)="submitForm(createForm)"
  [formGroup]="createForm"
>
  <mat-card>
    <mat-card-content>
      <h3 mat-dialog-title>
        Создать мероприятие
      </h3>
      <div
        *ngIf="vasya.invalid && (vasya.dirty || vasya.touched)"
        style="color: red;"
      >
        Name is required.
      </div>
      <mat-form-field class="meetup-create__field">
        <input matInput placeholder="Название" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="meetup-create__field">
        <input matInput placeholder="Адрес" formControlName="address" />
      </mat-form-field>
      <mat-form-field class="meetup-create__field">
        <textarea
          matInput
          placeholder="Описание"
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="meetup-create__field">
        <input
          formControlName="from_date"
          matInput
          [matDatepicker]="picker"
          placeholder="Дата"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-checkbox formControlName="published">Опубликовано</mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="createForm.invalid"
      >
        Создать
      </button>
    </mat-card-actions>
  </mat-card>
</form>
